<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url('home') }}">
        <img class="d-inline-block align-top" src="{{ asset('build/images/flight.c979b430.png') }}" width="30"
             height="30" alt="">
        AADL
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Dart Counter</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Saison
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Saison xyz</a>
                        <a class="dropdown-item" href="#">Beendet</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Rangliste</a>
                    </div>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('easyadmin') }}">Backend</a>
                </li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>